In [3]:
import pandas as pd
import numpy as np

In [8]:
ds_sar = pd.read_csv('twitDB_regular.csv', sep='delimiter', header=None)
ds_ser = pd.read_csv('twitDB_regular.csv', sep='delimiter', header=None)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [10]:
'''ds1 = ds_sar.iloc[:,1:2]
ds2 = ds_ser.iloc[:,1:2]
ds1[2]= np.ones(10000)
ds2[2] = np.zeros(10000)
ds= np.concatenate((ds1, ds2), axis=0)
y = ds[:,1:]
x = ds[:,0:1]'''

'ds1 = ds_sar.iloc[:,1:2]\nds2 = ds_ser.iloc[:,1:2]\nds1[2]= np.ones(10000)\nds2[2] = np.zeros(10000)\nds= np.concatenate((ds1, ds2), axis=0)\ny = ds[:,1:]\nx = ds[:,0:1]'

In [15]:
#Cleaning the text 
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus = []

In [18]:
#just change 1000 to the number of rows in the csv file. My Mac is slow. 
for i in range(0, 1000):
    review = re.sub('[^a-zA-Z]', ' ', ds_sar[0][i])
    review = review.lower()
    review = review.split()
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)
print('done')

done

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize  import word_tokenize
vectorizer = CountVectorizer()

In [5]:
x = vectorizer.fit_transform(x.ravel())

In [6]:
from sklearn.cross_validation import train_test_split

/anaconda3/envs/sarcasm/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [7]:
x_train , x_test, y_train, y_test = train_test_split(x, y, test_size =0.3, random_state=42 )

In [8]:
from sklearn.naive_bayes import MultinomialNB

In [9]:
y_train = y_train.astype('int')
clf = MultinomialNB().fit(x_train, y_train)

/anaconda3/envs/sarcasm/lib/python2.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
y_test = y_test.astype('int')
y_pred = clf.predict(x_test)

In [11]:
from sklearn.model_selection import cross_val_score

In [12]:
clf.score(x_test,y_test)

0.7006666666666667

In [13]:
from sklearn import svm

In [14]:
clf1 = svm.SVC(kernel='linear', C=1)

In [15]:
clf1.fit(x_train, y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [17]:
clf1.score(x_test, y_test)

0.6816666666666666

In [18]:
ds = pd.read_csv('./sarcasm1/train-balanced-sarcasm.csv')

In [19]:
ds.head()

,label,comment,author,subreddit,score,ups,downs,date,created_utc,parent_comment
0,0,NC and NH.,Trumpbart,politics,2,-1,-1,2016-10,2016-10-16 23:55:23,"Yeah, I get that argument. At this point, I'd ..."
1,0,You do know west teams play against west teams...,Shbshb906,nba,-4,-1,-1,2016-11,2016-11-01 00:24:10,The blazers and Mavericks (The wests 5 and 6 s...
2,0,"They were underdogs earlier today, but since G...",Creepeth,nfl,3,3,0,2016-09,2016-09-22 21:45:37,They're favored to win.
3,0,"This meme isn't funny none of the ""new york ni...",icebrotha,BlackPeopleTwitter,-8,-1,-1,2016-10,2016-10-18 21:03:47,deadass don't kill my buzz
4,0,I could use one of those tools.,cush2push,MaddenUltimateTeam,6,-1,-1,2016-12,2016-12-30 17:00:13,Yep can confirm I saw the tool they use for th...

In [20]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010826 entries, 0 to 1010825
Data columns (total 10 columns):
label             1010826 non-null int64
comment           1010773 non-null object
author            1010826 non-null object
subreddit         1010826 non-null object
score             1010826 non-null int64
ups               1010826 non-null int64
downs             1010826 non-null int64
date              1010826 non-null object
created_utc       1010826 non-null object
parent_comment    1010826 non-null object
dtypes: int64(4), object(6)
memory usage: 77.1+ MB

In [37]:

ds1 = ds.iloc[:100,:]

AttributeError: 'DataFrame' object has no attribute 'shuffle'

In [30]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
label             100 non-null int64
comment           100 non-null object
author            100 non-null object
subreddit         100 non-null object
score             100 non-null int64
ups               100 non-null int64
downs             100 non-null int64
date              100 non-null object
created_utc       100 non-null object
parent_comment    100 non-null object
dtypes: int64(4), object(6)
memory usage: 7.9+ KB

In [35]:
x = ds1[['comment','parent_comment']]
y= ds1['label']

In [36]:
y

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
     ..
70    0
71    0
72    0
73    0
74    1
75    0
76    1
77    0
78    0
79    0
80    0
81    0
82    0
83    0
84    0
85    0
86    0
87    0
88    0
89    0
90    0
91    0
92    0
93    0
94    0
95    0
96    0
97    0
98    0
99    0
Name: label, Length: 100, dtype: int64